

h3 {
    margin: 0;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    color: orangered;
}

.formDiv {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.formDiv input {
    width: 350px;
    padding: 5px;
}

.formDiv button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
}

input:disabled {
    color: gray;
    border-color: gray;
}